.banner__title
  margin-top: 200px

.banner__title--intro
  color: $blue
  font-weight: 300
  font-size: 30px
.banner__title--owner
  font-size: 78px
  line-height: 0
  font-weight: 600

.banner p
  font-weight: 300
  letter-spacing: 5px

.banner__sociallinks li
  display: inline
  padding: 10px
