<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

            <ul class="footer__socialLinks">
              <li class="footer__socialLinks--links"><a href="">FACEBOOK</a></li>
              <li class="footer__socialLinks--links"><a href="">instagram</a></li>
              <li class="footer__socialLinks--links"><a href="">GITHUB</a></li>
              <li class="footer__socialLinks--links"><a href="">LINKEDIN</a></li>
            </ul>
            <p class="footer__copyright">Copyright &copy; {{ now|date('Y') }} martinetoye.com</p>

      </div>
    </div>
    </div>
</footer>
