<div class="footer">
    <div class="container">
      <div class="row">


        <div class="col-xs-12 col-sm-6 col-md-6">
            <p class="footer__copyright">Copyright &copy; {{ now|date('Y') }} martinetoye.com</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <p class="footer__madewith">Made with <i class="fa fa-heart"></i> By  Martin</p>
        </div>


    </div><!-- End Row -->
  </div><!-- End Container -->
</div><!-- end Footer -->
