<div class="container">
  <div class="menu__icon">
      <div class="hamburger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
</div>

<div class="menu__wrapper">
  <div class="menu__wrapper--inner">
  <h3>Where Next?</h3>
  <ul class="main-nav">
    {% for mitem in site.links %}
      <li class="menu-item">
        <a href="{{ mitem.url }}"   class="animsition-link">
        {{ mitem.title }}
        </a>
        </li>
    {% endfor %}
  </ul>
  </div>
</div>
