<div class="header">
  <div class="container">
    <div class="row">

      <div class="col-md-2">
        <img src="{{ site.logo }}" class="header__logo" />
      </div><!-- End Column -->

      <div class="col-md-10">
        <div class="header__menu">
            <ul class="header__menu--nav">
                {% for mitem in site.links %}
                <li class="header__menu--nav--item">
                  <a href="{{ mitem.url }}" class="{{ mitem.class }}">{{ mitem.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
      </div><!-- End Column -->

    </div><!-- End Row -->
  </div><!-- End Container -->
</div><!-- End Header -->
