<div class="portfolio" id="portfolio">
  <div class="portfolio__leftpanel"></div>
    <div class="portfolio__rightpanel"></div>
<div class="portfolio__inner">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
          <h2 class="portfolio__heading">{{ page.title }}</h2>
      </div><!-- End Column -->
      <div class="portfolio__featured--imgs">
      {% for pitem in page.header.portfolio %}
        <div class="col-xs-12">
          <div class="portfolio__featured--img">
          <a href="{{ pitem.url }}" target="_blank">
              <img class="img-responsive portfolio__featured--img--img" src="{{ pitem.img }}">
              <div class="portfolio__featured--img--overlay">
                <p class="portfolio__featured--img--overlay--text">{{ pitem.title }}</p>
                <i class="portfolio__featured--img--overlay--icon fa fa-link"></i>
              </div>
          </a>
        </div>
      </div>

      {% endfor %}
    </div>
    </div><!-- End Row -->
  </div><!-- End Container -->
</div>
</div><!-- End Portfolio Modular -->
