<div class="recentpost__wrapper wrapper">
  <div class="container">
  <h2>{{ page.title }}</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
        {% for post in page.find('/portfolio').children.order('date', 'desc').slice(0, 3) %}
            <div class="col-md-4">
                <img src="{{ post.media[post.header.featured].url }}" class="img-responsive"/>
            </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
