<div class="recentpost__wrapper wrapper">
  <div class="container">
  <h2>{{ page.title }}</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
        {% for post in page.find('/portfolio').children.order('date', 'desc').slice(0, 3) %}
            <div class="col-md-4">
                <a href="{{ post.url }}">
                <div class="img__wrap">
                  <img class="img__img" src="{{ post.media[post.header.featured].url }}" />
                    <div class="img__description_layer">
                      <h4 class="img__description">{{ post.title }}</h4>
                    </div>
                </div>
                </a>
            </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
