<div id="{{ page.header.id}}">
<div class="section__wrapper wrapper">
<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2 class="section__title">{{ page.header.title }}</h2>
    </div>
  </div><!-- End Row -->
  <div class="section__wrapper--content">
<div class="row">
<div class="col-xs-12 col-md-8">
  <div class="section__image">
    {% set image = page.media.images|first %}
    {% if image %}
        {{ image.html('','',''~page.header.image_class) }}
    {% endif %}
  </div>
</div>
  <div class="col-xs-12 col-md-4">
    {{ content }}
  </div>

</div><!-- End Row -->

</div><!-- End Content Wrapper -->
</div><!-- End Text container -->
</div><!-- End Section Wrapper -->
</div>
