{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}

{% block banner %}
    <div class="col-xs-12">
        <h1>{{ site.description}}</h1>
        {% if page.collection.params.taxonomies %}
            <h2>Tagged with "{{ page.collection.params.taxonomies.tag.0 }}"</h2>
        {% else %}
            <h2>{{ site.title }}</h2>
        {% endif %}

    </div>
{% endblock %}

{% block content %}
    {{ page.content }}
{% endblock %}
