{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="error">
  <div class="container">
    <div class="row">

            <div class="col-xs-12">
                <h1 class="error__title">ERROR! {{ header.http_response_code }}</h1>
                <h3>{{ page.header.description }}</h3>
                  {{ page.content }}
                  {% include 'partials/simplesearch_searchbox.html.twig' %}
            </div>


    </div><!-- End Row -->
  </div><!-- End Container -->
</div><!-- End Error -->
{% endblock %}
